@media (min-width: 576px) {
  .login-dark {
    min-height: 850px;
  }
}

@media (min-width: 768px) {
  #mainBlock {
    min-height: 750px;
  }
}

@media (min-width: 768px) {
  #blockInscription {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  #colDroite {
    margin-bottom: inherit !important;
  }
}

#colgauche {
  padding-top: 20px;
}

@media (min-width: 768px) {
  #colgauche {
    padding-top: inherit !important;
  }
}

@media (min-width: 768px) {
  #blockRows {
    min-height: 800px;
  }
}

@media (min-width: 768px) {
  #containerBlock {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

@media (min-width: 768px) {
  #buttonValidationProduct {
    display: inherit !important;
  }
}

@media (min-width: 768px) {
  #buttonValidationProductMobile {
    display: none;
  }
}

#buttonValidationProduct {
  display: none;
}

@media (min-width: 992px) {
  .desktopView {
    display: table-cell;
  }
}

@media (min-width: 768px) {
  #btnContinuePurchase {
    max-width: 320px;
    margin: inherit;
  }
}

@media (min-width: 768px) {
  #btnConfirmCart {
    max-width: 320px;
    margin-left: 15px;
  }
}

@media (min-width: 300px) {
  #btnDesktop {
    display: none;
  }
}

@media (min-width: 768px) {
  #btnMobile {
    display: none!important;
  }
}

@media (min-width: 768px) {
  #btnDesktop {
    display: inherit;
  }
}

@media (min-width: 300px) {
  #btnMobile {
    display: inherit;
  }
}

@media (min-width: 768px) {
  #containerInfoProduct {
    display: inherit;
  }
}

@media (min-width: 768px) {
  #imgProduct {
    margin-right: 15px;
  }
}

